/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  

}
/*ZO selecteer je spesifieke elementen in een parent (parent-element binnen parent) */

html{
  font-family: 'Poppins', Arial, Helvetica, sans-serif, Trebuchet;
  background: "images/background.png";
}

:root{
--main-color: rgb(16, 223, 154);
--grey-color: #F5F5F5;
--white-color: #ffffff;
--black-color: #000000;
}

video{
  width: 100%;
}

h2{

  /*position: absolute;*/
  margin: 0;
  margin-bottom: 1em;
}

main > p{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
  border: 3px solid transparent;
}

h3{
  color: var(--main-color);
  margin-left: 1em;

}

nav ul li a{
  padding: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

nav ul li a:hover {
  text-decoration: none;
  border: 3px solid var(--main-color);
  transition: .3s;
}

h1{
  text-align: center;
}

ul{

  list-style: none;
  display: flex;
  justify-content: space-between;
}

.hamburger{
  background-color: transparent;
  border: 0;
  color: grey;
  font-size: 20px;
  cursor: pointer;
}

main section form input{
  width: 100%;
  display: flex;
  width: 50em;
  height: 5em;
  margin: auto;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 25px;
  margin-top: 5em;
  border: 3px solid var(--grey-color);
}

body header nav ul input{
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
}


input:hover{
  border: 3px solid var(--main-color);
  transition: .3s;
}

input:focus{
  border-left: 3px solid var(--main-color);
}


img{
  border-radius: 15px;
  position: relative;
  border: 3px solid transparent;
  
}

ul li img{
  order: -1;
}

video{
  display: flex;
  margin: auto;
  margin-top: 2em;
}

strong{
  margin-top: 1em;    
  width: 300px;
 
}

.kopjes{
  margin-left: 1em;
}


/* Upcoming releases */

li:nth-of-type(1) {
  list-style: none;
  width:300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

li:nth-of-type(2) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

li:nth-of-type(3) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

li:nth-of-type(4) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

li:nth-of-type(5) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

/*sneakerstories*/
li:nth-of-type(6){
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  background-color: var(--white-color);
  border-radius: 5px;
}

li:nth-of-type(7){
  list-style: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--white-color);
  border-radius: 5px;

}

.navigatieKnop{
  border-bottom: 3px solid transparent;
}

nav{
  flex-wrap: wrap;
  right: 0;
  width: 450px;
}

nav ul a li{
  width: 300px;

}

button{
  border: none;
  background-color: var(--white-color);
  border-bottom: 3px solid transparent;
}

/* met tab toets selecteren */

a:focus{
  border-left: 10px solid var(--main-color);
  border-right: 10px solid var(--main-color);
}

button:hover{
  border-bottom: 3px solid var(--main-color);
  transition: 0.3s;
}

button:focus{
  border-left: 10px solid var(--main-color);
  border-right: 10px solid var(--main-color);
}

img:hover{
  border: 3px solid var(--main-color);
  transition: 0.3s;
}

li section{
  display: inline-block;
  font-weight: bolder;
  font-size: larger;
  flex-direction: column;
  
}

li p{
  margin-top: 1px;
  flex-direction: column;
  margin-left: 1em;
}

.image{
  margin:auto;

}

section{
  display: flex;
}


section:nth-of-type(3){
justify-content: center;

}
/* video */


section:nth-of-type(1){
  display: flex;
  flex-direction: row;
  justify-content:space-around; 
  width: 90%;
  margin: auto;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}
/* Schoenen slider */
section:nth-of-type(2) {
  display: flex;
  justify-content:space-around; 
  width: 90%;
  margin: auto;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow-x:auto;

}

/* nieuws 1e rij */
section:nth-of-type(3) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  background-color: var(--white-color);
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -3em;
 
}


/* nieuws 2e rij */
section:nth-of-type(4) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  background-color: var(--white-color);
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -3em;

}

/* sneakerstories 1e rij */
section:nth-of-type(5) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: var(--white-color);
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

  
}

/* sneakerstories 2e rij */
section:nth-of-type(6) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: var(--white-color);
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}
/* sneakerstories 3e rij */
section:nth-of-type(7) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: var(--white-color);
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}





ul{
  width: 100%; 
  list-style: none;
  display: flex;
  width: 100%;
}

footer{

  padding: 2em;
  padding-top: 4em;
  color:var(--grey-color);
  background-color: var(--black-color);
  font-style: italic;
}

footer ul{
  width: 200px;
  display: flex;;
}

footer ul li{
  display: block;
}

footer section ul li a{
  background-color: var(--black-color); 
  color: var(--white-color);
}

.hamburger{
  display: none;
}

h4{
  color: var(--main-color);
}



.heroImage {
	background: url(https://static.sneakerjagers.com/news/nl/2022/01/Nike-Dunk-High-Year-of-the-Tiger.png);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.heroContents {
	padding-top: 25px;
	text-align: center;
  color: var(--white-color);
}

@media (max-width: 1400px){
  .hamburger{
    display: block;
  }

  .navUl{
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navUl.show {
    display: flex;
  }
}

@media (max-width:1200px){
  main section form input{
    width: 500px;
  }

  img{
    width: 200px;
  }

  .sneakersMain ul {
    width: 800px;
    
  }



 
  
}

@media (max-width:1000px){
  .sneakersMain div{
    overflow-x:auto;
    
  }
}

@media (max-width:800px){
  main section form input{
    width: 500px;
  }

  img{
    width: 200px;
  }

  .sneakersMain ul {
    width: 500px;
    
  }

  section{
    display: grid;
  }

  
}

@media (max-width:750px){
 
  /* Schoenen slider */
section:nth-of-type(2) {
  overflow-x:auto;

}

/* nieuws 1e rij */
section:nth-of-type(3) {
  overflow-x:auto;
}


/* nieuws 2e rij */
section:nth-of-type(4) {
  overflow-x:auto;
}

/* sneakerstories 1e rij */
section:nth-of-type(5) {
  overflow-x:auto;
}

/* sneakerstories 2e rij */
section:nth-of-type(6) {
  overflow-x:auto;
}
/* sneakerstories 3e rij */
section:nth-of-type(7) {
  overflow-x:auto;
}

section:nth-of-type(8) {
  display: inline-block;
    flex-direction: column;
    margin-bottom: 5px;
}
 
}

@media only screen and (max-width:500px){
  
  li{
    display: inline-block;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  section{
    margin: auto;
    width: 100%;
  }

  section ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 2em;
  }

  .sneakersMain ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    
  }

  section{
    margin-left: 7em;
  }

  .sneakersMain div{
    overflow-x:unset;
  }

  footer ul li{
    display: inline-block;
    flex-direction: column;
    margin-bottom: 5px;
  }

  
}