/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  
}

p{
  text-align: center;
}

nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 10em;
  
}

ul{
  list-style: none;
  width: 30em;
  display: flex;
  justify-content: space-between;
 
}

.textbox{
  display: flex;
  width: 50em;
  height: 5em;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  margin-top: 10em;
}

section{
  display: flex;
  overflow-x:auto;
}

video{
  display: flex;
  margin: auto;
  margin-top: 2em;
}

.sneakerblok{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
}

.productfoto{

  margin-left: -40px;
 
}

.sneakerbloktekst{

  margin-left: 1em;
  text-align: left;
}

.image{
  margin:auto;
}

.nieuwsartikeltekst{
  color: aqua;
  display: flex;
}

.productbox{
  margin-left: 7em;
  margin-right: 7em;
}