/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html{
  font-family: Arial, Helvetica, sans-serif;
  background: "images/background.png";
}

h1{
  text-align: center;
  
}

ul{
  list-style: none;
  width: 30em;
  display: flex;
  justify-content: space-between;
 
}

input{
  display: flex;
  width: 50em;
  height: 5em;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 25px;
  margin-top: 5em;
  border: 3px solid grey;
}
input:hover{
  border: 3px solid rgb(16, 223, 154);
  transition: .3s;
}
section{
  display: flex;
  overflow-x:auto;
}

img{
  border-radius: 15px;
  position: relative;
  border: 3px solid transparent;
}

img:hover {
  border: 3px solid rgb(16, 223, 154);
  transition: .3s;
}

video{
  display: flex;
  margin: auto;
  margin-top: 2em;
}

strong{
  margin-top: 1em;
  width: 300px;
 
}

.kopjes{
  margin-left: 1em;
}

.achtergrond{
  background-color: grey;
  height: 500px;
}

/* Upcoming releases */

li:nth-of-type(1) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;

}

li:nth-of-type(2) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;

}

li:nth-of-type(3) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;

}

li:nth-of-type(4) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;

}

li:nth-of-type(5) {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;

}

/*sneakerstories*/
li:nth-of-type(6){
 
}

.navigatieKnop{
  border-bottom: 3px solid transparent;
}




.navigatieKnop:hover{
  border-bottom: 3px solid rgb(16, 223, 154);
  transition: 0.3s;
}

.navigatieBalk{
  width: 50px;
  justify-content: center;

}

.prijs{
  color: rgb(16, 223, 154);
  font-weight: bolder;
  font-size: larger;
}

.sneakerbloktekst{
  
  margin-left: 1em;
  text-align: left;
}

.image{
  margin:auto;

}


/* Het laatste nieuws */


selection:nth-of-type(1) {
  display: flex;
  justify-content:space-around; 
  width: 90%;
  margin: auto;
  background-color: white;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}

selection:nth-of-type(2) {
  display: flex;
  justify-content:space-around; 
  width: 90%;
  margin: auto;
  background-color: white;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}


selection:nth-of-type(3) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: white;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}


selection:nth-of-type(4) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: white;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}

selection:nth-of-type(5) {
  display: flex;
  justify-content:space-around; 
  width: 100%;
  margin-left: -3em;
  background-color: white;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

}

selector:nth-of-type(1) {
  text-align: center;

}






.nieuwsBlok{
  display: block;
  width: 400px;
  
}

ul{
  width: 40%; 
}

footer{
  
  padding: 2em;
  padding-top: 4em;
  color:grey;
  background-color: black;
  font-style: italic;

}